.progress-bar {
    width: 680px;
    height: 20px;
    background-color: #f0f0f0;
  }
  
  .progress {
    height: 100%;
    background-color: #4951f5;
    width: 0;
    transition: width 0.5s ease;
  }