
.grid-container {
  
  display: grid;
  grid-template-columns: 100px 400px ;
  grid-template-rows: 100px 300px auto;
  background-color: #EEE;
}

.one {
  
  background-color: #EEEDEB;
 
  }

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #092635;
  grid-column: 2;
  grid-row: 2;
  
}
.pilt {
 border-radius: 50%;
  height: 250px;
  
  border: solid 3px #EEEDEB;
}

.three {
  background-color: #EEEDEB;
  grid-row: 3;
  grid-column: 1;
}

.three {
  background-color: #9EC8B9;
  grid-row: 2;
  grid-column: 1;
 
}

.four {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: #9EC8B9;
  grid-row: 2;
  grid-column: 3;
  color: #092635;
}

.five {
 background-color:#EEEDEB;
 grid-row: 3;
 grid-column: 1;
}

.six {
  background-color: #EEEDEB;
  grid-row: 3;
  grid-column: 3;
  
}

.seven {
  background-color: #EEEDEB;
  grid-row: 1;
  grid-column: 3;
}

.eight {
  background-color: #092635;
  grid-row: 1;
  grid-column: 2;
}

.nine {
  color: #9EC8B9;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  
  background-color: #092635;
  grid-row: 3;
  grid-column: 2;
  
}
.profile {
  padding-left: 50px;
  
}

.profile-text {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}



.contact {
  display: flex;
  
  padding-left: 25px;
  padding-top: 25px;
}

.number {
  display: flex;
  
  
  padding-top: 20px;
  padding-left: 30px;
  flex-wrap: wrap
}


.email {
      display: flex;
      padding-left: 30px;
      padding-top: 20px;
      
      flex-wrap: wrap;

}

.svg-icon {
  
  width: 3em;
  height: 3em;
  fill: #EEEDEB;
  padding-right: 5px;
  
}

.work {
  display: flex;
  justify-content: center;
  color:#092635;
  
  
padding-top: 5%;
border-width: 4px;
border-style: solid;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(9, 38, 53, 1) 0%, rgba(255, 255, 255, 0.05) 50%) 1;
  
}
.exp {
  display: flex;
  flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    width: 80%;
    padding-left: 25%;
   
}

.container {
   justify-content: center;
   flex-direction: column;
    
}

h1 {
 padding: 2px;
}

.education {
  display: flex;
    justify-content: center;
    color: #092635;
  
  
    padding-top: 5%;
    border-width: 4px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(9, 38, 53, 1) 0%, rgba(255, 255, 255, 0.05) 50%) 1;
}

.edu {
  display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    width: 80%;
    padding-left: 25%
}


.lang-cont {
  display: flex;
  
  box-sizing: border-box;
  width: 50%;
  background-color: #EEEDEB;
 

}

.skills {
  
  padding-top: 2px;
  padding-bottom: 3px;
  
}

.estonian {
  padding: 5px;
}

.estonian2 {
  
  width: 100%;
  background-color: #9EC8B9;
  

}

.english {
  
  padding: 5px;
  
}

.english2 {
  
  display: flex;
  justify-content: center;
  width: 65%;
    background-color: #9EC8B9;
    
}

.language {
display: flex;

  padding-left: 25px;
  padding-top: 25px;
}

.lang {
  padding-left: 30px;
}

.lang-skill {
  padding-top: 10px;
}