.correct,
.correct:disabled  {
    background-color: green;
}

.wrong,
.wrong:disabled {
    background-color: red;
}

.card {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 330px;
}

#pastAnswer {
    display: flex;
    flex-wrap: wrap;
}

.cardCorrect {
    background-color: #00800061;
}

.cardWrong {
    background-color: #80000061;
}

.container {
    padding: 0px;
}

#health {
    background-color: rgb(61, 238, 3);
    width: 100%;
    text-align: center;
    
}

h5 {
    padding-left: 320px;
}

#hPoints {
    background-color: #fe0000;
    width: 0%;
    height: 50px;
    text-align: center;
}


.RemainingQ {
    padding-left: 300px;
    font-size: large;
    
}


/*
.hp5 {
    background-color: green;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
} */